version: '3.8'

networks:
  todoapp:
    driver: bridge

services: 
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db
    environment:
      MONGO_INITDB_DATABASE: todo
    networks:
      - todoapp
  
  backend:
    build:
      context: ./backend/todoApi001
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5021:8080"
    depends_on:
        - mongodb
    networks:
      - todoapp

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - todoapp
  
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    command: [nginx-debug, "-g", "daemon off;"]
    depends_on:
      - frontend
    networks:
      - todoapp

volumes:
  mongodb:
